.panel {
    /*position: absolute;
    left: calc(20% + 12% + 15px);
    top: 150px;
    width: calc(16% + 18px + 30%);
    height: 225px;*/
    background-color: white;
    z-index: 990;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.hide {
    opacity: 0;
}

.hidefull {
    display: none;
}

.title {
    margin: 10px 0px 0px 15px;
}

.evmenu_punkt {
    margin: 15px 0px 0px 25px;
    width: 265px;
    height: 35px;
    padding-left: 10px;
}

select {
    margin: 15px 0px 0px 25px;
    width: 278px;
    height: 40px;
    padding-left: 10px;
}

/*input[type]:required:invalid {
    border: 1px solid #F83232;
}*/

.evmenu_punkt:required:valid {
    border: 1px solid #2E8FE5;
}

.btn{
    margin: 15px 0px 0px 25px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    width: 278px;
    height: 40px;
    line-height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #86817F;
}

.btn:hover {
    background: #2E8FE5;
    color: white;
}